.grid {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  font-size: 0;
}

.panel {
  margin-top: 20px;
}

.algorithm-select {
    position: inherit;
    display: block;
    width: 100%;
    margin: 0 auto;
}