/* prevent node from being draggable in electron apps */
*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

.node {
  width: 23px;
  height: 23px;
  border: 1px solid black;
  overflow: hidden;
}

.node:hover {
  transform: scale(1.2);
}

.wall {
  background-color: rgb(38, 87, 143);
  /* animation: zoom 0.3s; */
}

.start {
  background-image: url("../Icons/start.png");
  background-size: cover;
  animation: zoom 0.5s;
}

.goal {
  background-image: url("../Icons/target.svg");
  background-size: cover;
  animation: zoom 0.5s;
}

.path {
  background-color: yellow;
}

.visited {
  background-color: paleturquoise;
  animation: fade 0.5s;
}

@keyframes zoom {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade {
  0% {
    background-color: rgb(21, 168, 112);
  }
  50% {
    background-color: rgb(58, 204, 184);
  }
  100% {
    background-color: paleturquoise;
  }
}
